<table>

    <tr id="tabPrincipalPost">
      
          <td class="colunas">
            <table class="postes">
              <tr>
                <td id="formatacao"></td>
                
                <td class="texto"><h3>Formate varios coputadores sem dor de cabeça.</h3><br><p><a href="">Click aqui</a> e descubra como configurar o <strong>CloneZilla-riso</strong> para formatar seu HD automaticamente.</p></td> 
              </tr>
            </table>

          </td>

          <td class="colunas">
              <table class="postes">
                <tr>
                  <td id="particionar"></td>
                  
                  <td class="texto"><h3>Crie partições dinamicamente.</h3> <br><p><a href="">Click aqui</a> e descubra como configurar o <strong>CloneZilla-riso</strong> para particionar seu HD.</p></td> 
                </tr>
              </table>

          </td>
          <td class="colunas">
              <table class="postes">
                <tr>
                  <td id="restaurar"></td>
                  
                  <td class="texto"><h3>Restaure seu sistema com todos seu arquivos ja instalado.</h3><br><p><a href="">Click aqui</a> e descubra como configurar o <strong>CloneZilla-riso</strong> para restaurar seu sistema.</p></td> 
                </tr>
              </table>

          </td>          

    </tr>
</table>