		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
					<a href="index.html">
						<div id="logo">
							<span class="image avatar48"></span>
							<h1 id="avatar"><img src="images/logo1.png" alt="CloneZilla-riso" /></h1>
							<p>Nome da Faculdade</p>
						</div>
					</a>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html" id="homeMenu" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
								<li><a href="manual.html" id="manualMenu" class="skel-layers-ignoreHref"><span class="icon fa-th">Manual</span></a></li>
								<li><a href="sobre.html" id="sobreMenu" class="skel-layers-ignoreHref"><span class="icon fa-user">Sobre</span></a></li>
								<li><a href="contato.html" id="contatoMenu" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contato</span></a></li>
							</ul>
						</nav>					

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>