	<head>
		<title>{{page.title}}</title>
		<link rel="icon" href="images/logoTitulo.png" type="image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/adicional.css" />
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Tauri" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="assets/css/jquery.mmenu.all.css" />

	</head>