html, body {height:100%;}
#geral {
    min-height:100%;
    position:relative;
}


.LarguraMenuManual{

    width: 20%;
}
#footer.LarguraFooter{

    padding-right:   20%;
}

.postagem{

    padding: 0px 0px 10px 10px;
    background-color: #97C8C4; /*#97C8C4 #030246 ;*/
    background-image: url('/images/fundo-azul7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    margin: 0 auto;
    width: 100%; /* Altere para o valor da largura desejada.  #333333 */
}

#tableManual tr td{
    vertical-align: top;
}

 
 #treeManual{
    font-family: FontAwesome;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 18px;
    line-height: 2.25em;
    background: rgba(128, 136, 144, 0.5);
    border-radius: 0.35em;
    text-align: center;
    position: absolute;
    right:  0.5em;
    top: 0.5em;
    display: block;
    width: 3.25em;
    height: 2.25em;
    line-height: 2.25em;     
    cursor:pointer;
}
    #treeManual {
        display: none;
    }

    .MenuManualVisivel {
        -moz-transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        transform: translateX(-200px);
    }
    .MenuManualInvisivel {
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);

    } 
    #navManual ul li a.activeManual {
        background: rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
        color: #fff;
    }

@media screen and (max-width: 960px) {

    .paddingMobile{
        padding-top: 40px;
    } 
    #treeManual {
       -moz-backface-visibility: hidden;
       -webkit-backface-visibility: hidden;
       -ms-backface-visibility: hidden;
        backface-visibility: hidden;
       -moz-transition: -moz-transform 0.5s ease;
       -webkit-transition: -webkit-transform 0.5s ease;
       -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;        
        position: fixed;
        right:  0.5em;
        top: 0.5em;
        width: 3.25em;
        z-index: 10001;

    }

}

@media screen and (max-width: 736px) {
  
     .paddingMobile{
        padding-top: 40px;
    }     
    #treeManual {
       -moz-backface-visibility: hidden;
       -webkit-backface-visibility: hidden;
       -ms-backface-visibility: hidden;
        backface-visibility: hidden;
       -moz-transition: -moz-transform 0.5s ease;
       -webkit-transition: -webkit-transform 0.5s ease;
       -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 2.25em;        
        position: fixed;
        right:  0.5em;
        top: 0.5em;
        width: 3.25em;
        z-index: 10001;
    }
}


.manual{
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.9em;
    
}

.alinhamentoTexto p{

    text-align: justify;
    padding: 0px 15px 0px 15px;
    
}
.manual img{
    width: 100%;
}   

.container {

    width: 100%;  
}
.tamanho {
  /*  min-height: 700px;  */  
}
}
.tamanhoFont {
    font-size: 16px;
    line-height: 1.8em;
}



#formata td{
    vertical-align: top;
    text-align: left;
    padding: 0px 5px 0px 0px;
    color: #d9e6f2;  
    font-size:14px; 

 
}


table ,td , tr , section{

    padding: 0px;
    margin: 0px;
    border-collapse: separate;
}

#formata img {
       padding: 0px;
    margin: 0px; 

}

  

#adicional{

    text-align: justify;
    padding: 20px;
    font-size: 16px;
    line-height: 1.8em;
}

#avatar  img {
    width: 100%;
}

/*Postagem principal*/

#main > section div .alt  {
    color: #000000;
    padding: 30px 0px 30px 0px;
    text-shadow: 1.4px 1.4px #ffffff;
    font-size: 30px;
}

.postagem{
    padding: 0px 10px 10px 10px;
} 

#tabPrincipalPost  {
    padding: 30px 0px 30px 0px;
}

.postes .texto {
    font-size: 12px;
}
.postes .texto h3{

    line-height: 1em;
    font-size: 16px;
}


.postes {        
    line-height: 1.3em;
    background-color: rgba(0, 7, 8, 0.5);
    background: rgba(0, 7, 8, 0.5);
    color: rgba(0, 7, 8, 0.5);
    border-radius: 25px;
    padding: 15px 0px 0px 10px;
    } 
#formatacao {
    width: 115px;
    background-image: url("/images/formata2.png");
    background-size:  110px 105px;
    background-repeat: no-repeat;    
}
#particionar {
    width: 115px;
    background-image: url("/images/particionar2.png");
    background-size:  110px 91px;
    background-repeat: no-repeat;    
}
#restaurar {
    width: 115px;
    background-image: url("/images/restauracao1.png");
    background-size:  110px 98px;
    background-repeat: no-repeat;    
}

@media screen and (min-width: 961px) and (max-width: 1620px) {
    #formatacao {
        width: 85px;
        background-image: url("/images/formata2.png");
        background-size:  80px 75px;
        background-repeat: no-repeat;    
    }
    #particionar {
        width: 95px;
        background-image: url("/images/particionar2.png");
        background-size:  90px 71px;
        background-repeat: no-repeat;    
    }
    #restaurar {
        width: 95px;
        background-image: url("/images/restauracao1.png");
        background-size:  90px 78px;
        background-repeat: no-repeat;    
    }
}

@media screen and (min-width: 961px) and (max-width: 1320px) {

    .postes .texto h3 {

        font-size: 12px;
    }
    .postes .texto p {

        font-size: 10px;
    }

    #formatacao {
        width: 75px;        
        background-image: url("/images/formata2.png");
        background-size:  70px 65px;
        background-repeat: no-repeat;    
    }
    #particionar {
        width: 85px;
        background-image: url("/images/particionar2.png");
        background-size:  80px 61px;
        background-repeat: no-repeat;    
    }
    #restaurar {
        width: 85px;
        background-image: url("/images/restauracao1.png");
        background-size:  80px 68px;
        background-repeat: no-repeat;    
    }
}

@media screen and (max-width: 960px) {
    .postagem{        
        background-color: #030246; /*#97C8C4 #030246  030246;*/
        background-image: url('/images/fundo-azul3.jpg');
        background-repeat: no-repeat;
    }      
    .postagem{
        padding: 0px 0px 10px 0px;
    }     

    #main > section div .alt  {
        padding: 0px 0px 0px 0px;
        text-shadow: none;       
        color: rgb(235, 237, 230);
        font-size: 30px;
    }
    #formatacao {
        width: 75px;                
        background-image: url("/images/formata2.png");
        background-size:  70px 65px;
        background-repeat: no-repeat;    
    }
    #particionar {
        width: 85px;
        background-image: url("/images/particionar2.png");
        background-size:  80px 61px;
        background-repeat: no-repeat;    
    }
    #restaurar {
        width: 85px;
        background-image: url("/images/restauracao1.png");
        background-size:  80px 68px;
        background-repeat: no-repeat;    
    }

}

@media screen and (max-width: 400px) {

    .postagem{
        background-color: #030246; /*#97C8C4 #030246  030246;*/
        background-image: url('/images/fundo-azul3.jpg');
        background-repeat: no-repeat;
    }    
    .postagem{
        padding: 0px 0px 10px 0px;
    } 
    #main > section div .alt  {
        padding: 0px 0px 0px 0px;
        text-shadow: none;       
        color: rgb(235, 237, 230);
        font-size: 22px;
    }
   .postes .texto h3 {

        font-size: 14px;
    }
    .postes .texto p {

        font-size: 12px;
    }    
    #formatacao {
        width: 65px;                
        background-image: url("/images/formata2.png");
        background-size:  60px 55px;
        background-repeat: no-repeat;    
    }
    #particionar {
        width: 75px;
        background-image: url("/images/particionar2.png");
        background-size:  70px 51px;
        background-repeat: no-repeat;    
    }
    #restaurar {
        width: 75px;
        background-image: url("/images/restauracao1.png");
        background-size:  70px 58px;
        background-repeat: no-repeat;    
    }


}


@media screen and (max-width: 960px) {
    .colunas {
        display: list-item;
        margin: -25px 0px 0px 0px ;        
    }

    @-moz-document url-prefix() { 
        .colunas {
            display: list-item;
            margin: 10px 0px 0px 0px ;        
              
        }
    }  

}
@media screen and (max-width: 400px) {
    .colunas {
        display: list-item;
        margin: -25px 0px 0px 0px ;        
    }

    @-moz-document url-prefix() { 
        .colunas {
            display: list-item;
            margin: 10px 0px 0px 0px ;        
              
        }
    }  


}    
